body{
    background: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
button{
    background: rgb(64, 20, 7);
    border: none;
    color:  #a5928c;
    opacity: 50%;
}
h1{
    color: white;
    font-weight: 900;
}
header{
    background: black;
    padding: 0px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 5;
}
section.about{
    background-color: white;
    color: black;
    z-index: 1;
    position: absolute;
}
section.home-logo{
    height: 1000px;
}
section.home video{
    width: 100%;
    z-index: 0;
    position: absolute;
    position: fixed;
    opacity: 30%;
    top: -150px;
}
footer{
    background: rgb(64, 20, 7);
    padding: 50px;
}
ul{
    margin-top: 0;
    padding-right: 20px;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    color:gray;
    margin-top: 15px;
}
h1.title{
    margin: 0;
    text-align: center; 
}
h1.logo{
    background-image: url("images/logo.png");
    background-size: 90px;
    background-repeat: no-repeat;
    text-indent: -999999px;
    width: 90px;
    height: 50px;
    display: inline-block;
    margin: 0;
    text-align: start;
}
a{
    background: none;
    color: white;
    text-decoration: none;
    padding: 5px;
}
a:hover{
    background: gray;
    border-radius: 8px;
}